.ReactFlagsSelect-module_selectBtn__19wW7 {
  font-size: 14px !important;
  border-radius: 0px !important;
  padding: 0px 5px 0px 0px !important;
}

.home-banner-swiper {
  .swiper-pagination-bullet {
    width: 9px !important;
    border-radius: 5px !important;
  }

  .swiper-pagination-bullet-active {
    background: #2f82ff !important;
    background: #ffff !important;
    width: 13px !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #fff !important;
    transform: scale(0.5) !important;
    width: 50px !important;
    height: 80px !important;
    transition: 0.2s;
    background: rgba(102, 102, 102, 0.354) !important;
    place-items: center;
  }

  .swiper-button-prev {
    left: -13px;
  }

  .swiper-button-next {
    right: -13px;
  }
}

.product-swiper_slider {
  .swiper-pagination-bullet {
    width: 9px !important;
    border-radius: 5px !important;
  }

  .swiper-pagination-bullet-active {
    background: #2f82ff !important;
    background: #ffff !important;
    width: 13px !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #fff !important;
    transform: scale(0.5) !important;
    width: 50px !important;
    height: 80px !important;
    transition: 0.2s;
    background: rgba(102, 102, 102, 0.354) !important;
    place-items: center;
  }

  .swiper-button-prev {
    left: -13px;
  }

  .swiper-button-next {
    right: -13px;
  }
}
.product_view_slider {
  height: 80%;
  width: 100%;
}
.product_view_thumb_slider {
  height: 20%;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px 0;
}
